
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }

.nav {
    display: flex;
    justify-content: flex-start;
    background-color: #f9f9f9;
    max-width: auto;
   padding:15px;

  }
  
  .navbar {
    display: flex;
    gap: 5%;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f9f9f9;
    color: #333;
    flex-wrap: wrap;
    font-size: 20px;
  }
  
  .navbar li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
  }

  .navbar a{
    text-decoration: none; 
    color: black;  
  }
  
  .navbar a:hover {
    color: green;
  }
  
  .right-items {
    margin-left: auto;
    display: flex;
    gap: 3%;
  }


  
  /* Responsive Styles for smaller screens */
  @media (max-width: 768px) {
    .nav {
      padding: 15px;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .right-items {
      margin-left: 0;
      justify-content: center;
      gap: 5px;
    }
  
    .navbar li {
      padding: 8px;
    }
  }
  
  /* Further adjustments for very small screens (mobile) */
  @media (max-width: 480px) {
    .nav {
      padding: 10px;
    }
  
    .navbar {
      gap: 5px;
    }
  
    .right-items {
      gap: 5px;
    }
  
    .navbar li {
      font-size: 14px;
    }
  }
  